.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the color as needed */
    border-radius: 10px; /* Optional: round the corners */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change the color on hover */
  }


  .notification-panel {
    position: fixed;
    top: 80px;
    /* right: -50px; */
    width: 20rem;
    height: 38rem;
    transition: transform 0.3s ease-in-out;  /* Change from right to transform */
  }
  

  .slide-in {
    transform: translateX(-140px);  /* Use transform instead of right */
  }
  
  .slide-out {
    transform: translateX(200px);  /* Use transform instead of right */
  }